<?php

define('CORE_DIR','/usr/w2p/');
define('TEMPLATE_DIR',CORE_DIR.'system/templates/');
define('MEDIA_DIR',CORE_DIR.'media/');
define('MODELS_DIR',CORE_DIR.'system/models/');
define('LOG_DIR',CORE_DIR.'system/log/');

define('LOG_FILE',LOG_DIR.'w2p.log');
define('LOG_DATEFORMAT','dmY h:i:s');
define('LOG_MAXTRY',5);

define('W2P_ENVIROMENT', W2P_ENV_DEVELOPMENT);
define('W2P_EXCEPTIONS', true);

define('W2P_LOCKDOWN',false);
define('W2P_LOCKDOWN_ALLOW',false);

define('W2P_MYSQL_USER','root');
define('W2P_MYSQL_PSWD','');
define('W2P_MYSQL_DB','w2p');
define('W2P_MYSQL_HOST','localhost');


?>