@import "../css/pictos.css";

body{
	background: url('../img/bg.png');
	font-family: Helvetica, Arial, sans-serif;
}

input{
	border: 1px solid #CCC;
	.border-radius();
}
input.hasLabel{
	padding: 6px;
	width: 65%;
	.right;
}
label{
	padding: 6px;
	width: 25%;
	text-align: right;
	.left;
}