// RESET

@import "reset";

// VARS

@primarycolor:	#295B8F;
@supportcolor:	#5F95CF;
@headingcolor:	#464646;
@bodycolor:		#848484;

@mainwidth:		500px;
@sidewidth:		260px;

@largesize:		15px;
@mediumsize:	14px;
@normalsize:	13px;
@smallsize:		11px;

// MIXINS

@import "mixins";

// CLASSES

.center{
	margin: 0 auto;
	width: @mainwidth;
}

.block	{	display: block;	 }

.inline	{	display: inline; }

.left	{	float: left;     }

.right	{	float: right;    }

.clear	{	clear: both;     }

// TAGS

body, html{
	height: 100%;
	width: 100%;
}

// DIVS

@import "shared";

body{
	padding: 8% 0 0 0;
}

#container{
	background-color: #FFF;
	.box-shadow(0 3px 11px rgba(0,0,0,0.4);
	min-height: 500px;
	.center;
}
#header{
	background: url('../img/purple.png');
	color: #FFF;
	height: 40px;
	padding: 3%;
}
#content{
	padding: 3%;
}