// RESET

@import "reset";

// VARS

@primarycolor:	#295B8F;
@supportcolor:	#5F95CF;
@headingcolor:	#464646;
@bodycolor:		#848484;

@mainwidth:		500px;
@sidewidth:		260px;

@largesize:		24px;
@mediumsize:	18px;
@normalsize:	14px;
@smallsize:		11px;

// MIXINS

@import "mixins";

// CLASSES

@import "classes";

.content{
	color: #555;
	font-size: @normalsize;
	padding: 4%;
}

.line{
	height: 50px;
}

// TAGS

body, html{
	height: 100%;
	width: 100%;
}

hr{
	border: none;
	border-top: 1px solid #DDD;
	margin: 6% 0;
}

// DIVS

@import "shared";

body{
	padding: 8% 0 0 0;
	height: 92%;
}

#container{
	background-color: #FFF;
	.box-shadow(0 3px 14px rgba(0,0,0,0.4));
	min-height: 250px;
	.center;  
}
#header{
	background: url('../img/purple.png');
	border-bottom: 1px solid #8968bf;
	.box-shadow(inset 0 -1px 0 rgba(255,255,255,0.2));
	color: #FFF;
	font-family: "Marvel", Helvetica, Arial, sans-serif;
	font-size: @largesize;
	height: @largesize;
	line-height: @largesize;
	padding: 4%;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0,0,0,0.15);
	text-transform: uppercase;
}