{% include 'header.html' %}
	<div id="container">
		<div id="header">Web to Print</div>
		{% if users|length > 0 %}
			<ul id="steps">
			{% for user in users %}
				<li>{{ user.username|e }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		<div class="content">
			Hello
			<hr />
			<div class="line">
				<label>Brukernavn</label>
				<input type="text" class="hasLabel" placeholder="ola@eksempel.no">
			</div>
			<div class="line">
				<label>Passord</label>
				<input type="text" class="hasLabel" placeholder="Passord">
			</div>
			<button>Logg inn</button>
			{% block content %}{% endblock %}
		</div>
	</div>
{% include 'footer.html' %}