{% extends 'base.html' %}
{% block content %}
		<form class="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non orci ligula, quis congue erat. Integer egestas, neque a placerat pellentesque, velit velit vestibulum tellus, a pellentesque ipsum arcu eget augue.
			<hr />
			<div class="line">
				<label>Brukernavn</label>
				<input type="text" class="hasLabel" placeholder="ola@eksempel.no">
			</div>
			<div class="line">
				<label>Passord</label>
				<input type="text" class="hasLabel" placeholder="Passord">
			</div>
			<button class="purple">Logg inn</button>
		</form>
{% endblock %}